	<% if user_signed_in? %>
     <div class="container">
        	 <div class="row notifications col-lg-2 col-lg-offset-10 col-xs-12">
         <div class="profile col-lg-1 col-xs-2"><span class="glyphicon glyphicon-user"></span></div><!--fin message-->
        <div class="message col-lg-1 col-xs-2"><span class="glyphicon glyphicon-envelope"></span></div><!--fin message-->
        <div class="bell col-lg-1 col-xs-2" ><span class="glyphicon glyphicon-bell"></span></div><!--fin bell-->
       
      </div><!--fin notifications-->
        	
        </div><!--fin container-->
      <%end%>