<div class="container">


      <div class="dlog">

        <div class="logb col-lg-6 col-lg-offset-3 ">
          <div class="textlog">You are near to suceed!</div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="camps col-lg-10 col-lg-offset-1">



            <div class="row f">
              <div class="foto"></div><!--fin foto-->
            </div><!--fin row-->





            <div class="row">
              <input type="text" class="camp col-lg-12 col-sm-12 col-xs-12 " placeholder="Company name">
            </div><!--fin row-->


            <div class="row">
              <input type="text" class="camp col-lg-12 col-sm-12 col-xs-12 " placeholder="Email">
            </div><!--fin row-->
            <div class="row">
              <input type="text" class="camp col-lg-12  col-sm-12 col-xs-12 " placeholder="Password">
            </div><!--fin row-->

             <div class="row">
              <input type="text" class="camp col-lg-12  col-sm-12 col-xs-12 " placeholder="Confirm Password">
            </div><!--fin row-->



            <div class="row">
             <select class="camp">
                <option value="">Location</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div><!--fin row-->

        

            <div class="row">
             <select class="camp">
                <option value="">Category / Field</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div><!--fin row-->



            
          </div><!--fin camps-->

         

          <div class="row">
             <div class="browse col-lg-12 col-sm-12 col-xs-12 ">
            <div class="bmore"><a data-toggle="modal" data-target="#myModal">Register</a></div>
            <br><br><br>
        
          </div>
          
          </div><!--fin row-->

           <% end %>
         
          
        </div><!--logb-->
        
      </div><!--fin dlog-->

       <div class="espacio">
        
      </div>


      




    </div> <!-- /container -->